{{define "401"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/static/favicon/site.webmanifest" />
    <link rel="stylesheet" href="/static/css/401.css">
    <title>401 - Accès non autorisé</title>
</head>
<body>
    {{template "header"}}
    <main>
        <div class="error-container">
            <a href="/login" class="home-button">Se connecter</a>
        </div>
    </main>
    {{template "footer"}}
</body>
</html>
{{end}} 