{{define "footer"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/footer.css">
    <title>Footer</title>
</head>
<body>
    <footer class="main-footer" id="footer">
        <nav>
            <a href="/about">About Us</a>
            <a href="/developers">Developers</a>
            
            <p>&copy; Projet Forum, 2025. All Rights Reserved | Company registered at Ynov Aix Campus.</p>
        </nav>
    </footer>
</body>
</html>
{{end}}