{{define "header"}}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <title>header</title>
</head>

    <header class="main-header" id="header">
        <nav>
            <a href="/">
                <img src="/static/image/riotgame logo.png" class="riotgamelogo" alt="logo riot">
                <img src="/static/image/logo_tft.png" class="tftlogo" alt="logo tft ">
            </a>
            <p>BARRE DE RECHERCHE</p>
            <a href="/créer-poste">
                <img src="/static/image/Bouton-créer.png" class="creerlogo" alt="Bouton créer">
            </a>
            <a href="/profile">
                <img src="/static/image/photodeprofil.png" class="photodeprofil" alt="photodeprofil">
            </a>
        </nav>
        <!--logo lol et tft (redirige a l'accueil)      search bar                    boutton crée(redirige vers la page pour crée un post)    pdp (redirige vers ton profil)-->
    </header>


</html>
{{end}}