* {
    margin: 0;
    padding: 0;
}

nav {
    color: white;
    text-decoration: none;
    
}
/*nav {    
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

p {
    color: white;
    font-family:sans-serif;
    font-size: 1.2rem;
    margin: 0 20px;
    text-decoration: none;
}
*/

