* {
    margin: 0;
    padding: 0;
}

nav {    
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;}

.riotgamelogo{
    height: auto;
    width: 120px;
    cursor: pointer;
}

.tftlogo{
    height: auto;
    width: 40px;
    cursor: pointer;
}

.creerlogo{
    height: auto;
    width: 70px;
    cursor: pointer;
}

.photodeprofil{
    height: auto;
    width: 70px;
    cursor: pointer;
}