* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #181C1F;
}


footer {
    margin-top: auto;
    background-color: #0f1113;
    color: white;
    padding: 20px;
    text-align: center;
}

body>main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.block-text {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 600px;
    display: block;
    border-radius: 30px;
    background-color: #27282a;
    color: white;
    margin-top: 20px;
}

.button-like {
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: #27282a;
    border: none;
    border-radius: 10px;
}

.button-dislike {
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: #27282a;
    border: none;
    border-radius: 10px;
}

.button-comment {
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: #27282a;
    border: none;
    border-radius: 10px;
}